@charset "utf-8";
div.searchBar {
	background: #cedfef;
	padding: 3px 0px;
}
div.searchBar input, div.searchBar select {
	font-size: 12px;
}
div.searchBar span {
	white-space:nowrap;
	margin-left: 5px;
}
div.searchBar span .button {
	width: 50px;
}